<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events near You</title>
    <link rel="stylesheet" href="/css/upcoming-nearyou.css" />
  </head>
  <body>
    <header>
        <%- include('navbar.ejs') -%>
    </header>

    <main>
      <section class="jumbotron">
        <div class="jumbotron_text">Exciting Upcoming Events!</div>
      </section>

      <section id="events_lists">
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="event_item">
          <div class="performers_picture">
            <img src="" alt="concert crowd" />
            <div class="date_time" date-time="<%= data[i].start.date %>">
              <div class="day"></div>
              <div class="month"></div>
            </div>
          </div>
          <div class="event_description">
            <div class="event_name" event_name="<%= data[i].displayName %>"> 
                <a class="event_link" href="<%= data[i].uri %>"></a>
            </div>
            <div class="performers_name"><%= data[i].performance[0].displayName %></div>
            <div class="venue_state">
              <%= data[i].venue.displayName %> - <%= data[i].location.city %>
            </div>
          </div>
        </div>
        <% } %>
      </section>
    </main>


    <script src="../js/main.js"></script>
  </body>
</html>
