<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Events near You</title>
  <link rel="stylesheet" href="/css/nearyou.css" />
  <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
  <header><%- include('../layouts/navbar.ejs') -%></header>
  <main>
    <section class="jumbotron">
      <div class="jumbotron_text">Event near You</div>
    </section>
    <div class="container">
      <section id="events-lists">
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="event-item">

          <div class="event-description">
            <div class="event_name" event_name="<%= data[i].displayName %>">
              <a class="nearyou-event_link" href="<%= data[i].uri %>"><%= data[i].displayName %></a>
            </div>
            <div class="performers-name"><i class="far fa-star"></i><%= data[i].performance[0].displayName %></div>
            <div class="venue-state"><i class="fas fa-map-marker-alt"></i>
              <%= data[i].venue.displayName %> - <%= data[i].location.city %>
            </div>
            <div class="date_time" date-time="<%= data[i].start.date %>">
              <i class="far fa-calendar-alt"></i>
              <span class="day"></span>
              <span class="month"></span>
            </div>
          </div>
        </div>
        <% } %>
      </section>
    </div>
  </main>

  <%- include('../layouts/footer.ejs') -%>
  <script src="../js/nearyou.js"></script>
  <!-- <script src="../js/api.js"></script> -->
</body>

</html>