<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/css/search-results.css" />
    <script
      src="https://kit.fontawesome.com/ade53cd309.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- HEADER -->
    <header><%- include('../layouts/navbar.ejs') -%></header>
    <!-- MAIN -->
    <main>
      <section class="jumbotron">
        <div class="jumbotron_text">Your search results!</div>
      </section>

      <section class="container" id="artists-lists">
        <h1 class="my-2">Your artists search results</h1>
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="artist-name">
          <a class="artist-link" href="/events/artist=<%= data[i].id %>" tour-status="<%= data[i].onTourUntil %>">
            <%= data[i].displayName %><span class="tour-status "></span></a
          >
        </div>

        <% } %>
      </section>
    </main>
    <!-- FOOTER -->
    <%- include('../layouts/footer.ejs') -%>


    <script src="/js/main.js"></script>
  </body>
</html>
